// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

body {
    background-color: #f0f0f0;
}

//-------------------------------------------
// sale header
//--------------------------------------------
.sale {
    &__header {
        @include flex(row, null, center);
        &--bg-orange {
            background-color: #fcdab0;
        }
        &--bg-purple {
            background-color: #fcddef;
        }
        &--bg-green {
            background-color: #C7EEDE;
        }
        &__link {
            display: flex;
            align-items: center;
            text-decoration: none;
            height: 50px;
        }
        &__image {
            width: 25px;
            height: 25px;
            margin-left: 10px;
        }
        &__title {
            margin-left: 10px;
            text-transform: uppercase;
            font-weight: 550;
            color: #333333;
        }
    }
}

//-------------------------------------------
// category title
//--------------------------------------------
.category-title {
    padding-bottom: 5px;
    padding-top: 12px;
    padding-left: 20px;
    font-size: 17px;
    color: #1f1d1d;
    font-weight: 550;
    text-transform: uppercase;
}

//-------------------------------------------
// product
//--------------------------------------------
.product-name {
    font-size: 18px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    a {
        text-decoration: none;
        color: #333333;
        font-size: 0.78em;
        font-family: sans-serif;
        font-weight: normal;
        text-transform: capitalize;
        display: block;
        min-height: 3em;
        max-height: 3em;
        line-height: 1.8em;
    }
}

.product-price {
    font-size: 13px;
    h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &--special {
        font-size: 1.35em;
        color: #f7941e;
        font-weight: 600;
    }
    &--old {
        color: #888888;
        text-decoration: line-through;
        font-size: 1.1em;
        font-weight: 400;
    }
}

.product-discount {
    background-color: #f7941e;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__label {
        color: #ffffff;
        font-size: 1.2em;
        font-weight: 600;
    }
    &--trochoi-position {
        left: 10px;
        top: 10px;
    }
}

//-------------------------------------------
// split
//--------------------------------------------
.split {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-left: 2px solid #646464;
    height: 20px;
}

//-------------------------------------------
// tab category
//--------------------------------------------
.tabcategory {
    display: flex;
    align-items: center;
    &__list {
        list-style: none;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 1.5em;
    }
    &__item {
        float: left;
        margin: 10px 5px;
        padding: 8px 10px;
        font-size: 14px;
        font-family: sans-serif;
        text-transform: capitalize;
        color: #333333;
        cursor: pointer;
        &--active {
            color: #f7931e;
            font-weight: bold;
            border: 1px solid #f7931e !important;
            border-radius: 5px;
        }
    }
}

//-------------------------------------------
// breadcrumbs
//--------------------------------------------
.breadcrumb {
    background-color: #f0f0f0 !important;
    padding: 5px 0;
    li {
        list-style: none;
        display: inline-block;
        a {
            text-decoration: none;
            color: #000;
            font-weight: normal;
            font-size: 12px;
            font-family: "Poppins", sans-serif;
        }
    }
    li+li::before {
        content: ">";
        font-size: 12px;
        color: #999;
    }
}

//-------------------------------------------
// filter
//--------------------------------------------
.filter {
    &__title {
        margin-top: 20px;
        font-size: 14px;
        color: black;
        margin-right: 10px;
    }
    &__item {
        display: inline-block;
        padding: 10px 16px 10px 16px;
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 10px;
        background-color: rgba(247, 148, 30, 0.1);
        font-size: 14px;
        font-weight: 400;
        color: #F7941E;
    }
    &__delete-all {
        display: inline-block;
        border: 1px solid #f7941E !important;
        background-color: white!important;
        padding: 10px 10px 8px 10px;
        cursor: pointer;
        border-radius: 5px;
        color: white;
        &__link {
            color: #F7941E;
            font-size: 14px;
        }
    }
}

.btn-remove {
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 0;
    background: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/btn_remove_orange.png) 0 0 no-repeat;
    cursor: pointer;
    vertical-align: top;
}

//-------------------------------------------
// sort
//-------------------------------------------
//-------------------------------------------
// select
//-------------------------------------------
.sort,
.paging {
    &__select {
        width: 70%;
        display: inline-block;
        &__selected {
            float: left;
            padding-right: 10px;
            text-indent: 15px;
            border: 1px solid #ccc;
            border-right: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            // overflow: hidden;
            line-height: 40px;
            height: 40px;
            width: 80%;
            cursor: default;
        }
        &__arrow {
            float: left;
            width: 20%;
            height: 40px;
            border: 1px solid #ccc;
            border-left: 0px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            text-align: center;
            font-size: 20px;
            background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_dropdown.png) no-repeat center left;
        }
        &__options {
            width: 100%;
            position: absolute;
            top: 35px;
            text-align: left;
            display: none;
            border: 1px solid #ccc;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top: none;
            padding-top: 5px;
            background-color: white;
            z-index: 1;
        }
        &__option {
            display: block;
            line-height: 20px;
            padding: 5px 10%;
            color: #444;
            cursor: default;
            &:hover {
                color: #444!important;
                background: #FCDAB0;
            }
        }
    }
}