// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    text-align: center;
    font-family: "Poppins", sans-serif;
    a {
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        display: inline-block;
        width: 220px;
        padding: 10px;
        background-image: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#F7695D));
        background-image: linear-gradient(to right, #ff9800, #F7695D);
        text-decoration: none;
        border-radius: 25px;
        text-align: center;
    }
}