// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.product-item2 {
    min-height: 210px;
    font-family: "Poppins", sans-serif;
    background-color: white;
    position: relative;
    &__image {
        position: relative;
        img {
            width: 100%;
            margin: auto;
            display: block;
        }
    }
    &__chay-hang {
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        text-align: left;
    }
}