.progress {
    width: 100%;
    height: 15px;
    background-color: rgba(210, 33, 33, 0.4);
    border-radius: 20px;
    margin-top: 8px;
    position: relative;
    text-align: center;
    &__bar {
        width: 40%;
        height: 100%;
        border-radius: 20px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#D22121), to(#D22121));
        background-image: linear-gradient(#D22121 0%, #D22121 100%);
    }
    &__value {
        position: absolute;
        color: #ffffff;
        font-weight: normal;
        font-size: 0.8em;
        top: 1px;
        left: 0px;
        right: 0px;
    }
}