.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__box {
        background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_star_gray.svg) repeat-x;
        margin: 0px;
        position: relative;
        width: 84px;
        height: 16px;
    }
    &__value {
        background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_star_yellow.svg) repeat-x;
        height: 16px;
        left: 0;
        position: absolute;
        top: 0;
        width: 50%;
    }
    &__amount {
        color: #F39801;
        font-size: 0.8em;
        font-weight: 500;
        padding-top: 4px;
    }
}