// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar component.
// -----------------------------------------------------------------------------
.sidebar {
    color: #666;
    font-size: 14px;
    &__title {
        cursor: pointer;
        text-transform: uppercase;
        line-height: 100%;
        padding: 10px 0;
        text-align: left;
        font-weight: 600;
        margin-bottom: 0px;
        font-size: 13px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;
    }
    a {
        line-height: 30px;
        color: #666;
    }
    ul ul>li {
        padding-left: 15px;
    }
    ul ul ul>li {
        padding-left: 30px;
    }
    &__a-unchecked {
        padding-left: 15px;
        background: transparent url(https://cdn0.fahasa.com/skin/frontend/base/default/images/manapro_filtercheckboxes/ico_uncheck.png) 0 50% no-repeat;
    }
    &__a-checked {
        padding-left: 15px;
        background: transparent url(https://cdn0.fahasa.com/skin/frontend/base/default/images/manapro_filtercheckboxes/ico_checked.png) 0 50% no-repeat;
    }
    &__channel {
        a {
            display: inline-block;
            line-height: 13px;
        }
    }
    &__topic {
        &__title {
            padding: 25px 0px 15px;
            h1 {
                color: #F39801;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        &__content {
            li {
                position: relative;
                &:before {
                    content: ">";
                    position: absolute;
                    top: 7px;
                }
                a {
                    text-transform: uppercase;
                    padding-left: 15px;
                }
            }
        }
    }
    &__quantam {
        &__title {
            padding: 25px 0px 15px;
            h1 {
                color: #c00;
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        &__item {
            span {
                font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
                color: black !important;
                font-size: 15px;
                font-weight: 400;
            }
        }
        &__readmore {
            background-color: #F7941E;
            border-radius: 7px;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            font-size: 12px;
            border: 2px solid #fff;
            padding: 6px 30px;
            text-transform: uppercase;
            display: inline-block;
            color: white!important;
        }
    }
}