body {
  background-color: #f0f0f0;
  color: #333333;
}

.container {
  width: 1230px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.bangxephang .bangxephang-header-large {
  background-color: #191D28;
  padding: 16px;
}

.bangxephang .bangxephang-header-large .title-vote {
  color: white;
  font-weight: 550;
  font-size: 1.2em;
}

.bangxephang .bangxephang-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bangxephang .bangxephang-header ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 1.5em;
}

.bangxephang .bangxephang-header ul li {
  float: left;
  margin: 10px 2px;
  padding: 8px 15px;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #545759;
  cursor: pointer;
}

.bangxephang .bangxephang-header ul li.active {
  color: #F7931E;
  font-weight: bold;
  border: 1px solid #F7931E !important;
  border-radius: 5px;
}

.bangxephang .bangxephang-content {
  /* xem them */
}

.bangxephang .bangxephang-content .xem-them {
  clear: both;
  text-align: center;
}

.bangxephang .bangxephang-content .xem-them a {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 220px;
  padding: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#F7695D));
  background-image: linear-gradient(to right, #ff9800, #F7695D);
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
}

.bangxephang .bangxephang-content .topvote-content {
  width: 45%;
  float: left;
  border-right: 1px #d7d7d7 solid;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item:hover {
  border-right: 2px solid #F7941E;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .index {
  width: 10%;
  text-align: center;
  font-weight: 800;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .index .index-number {
  font-size: 0.8em;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .index .green {
  color: green;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content img {
  width: 20%;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content .content-right {
  line-height: 1.5;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 0.9em;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content .content-right .author {
  color: gray;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content .content-right .vote-score {
  color: #2F80ED;
}

.bangxephang .topvote-preview {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5em;
}

.bangxephang .topvote-preview .preview-content {
  padding-left: 30px;
  padding-right: 30px;
}

.bangxephang .topvote-preview .preview-content .name {
  font-size: 1.1em;
  font-weight: 550;
}

.bangxephang .topvote-preview .preview-content .price-special {
  margin-top: 16px;
  font-weight: bold;
}

.bangxephang .topvote-preview .preview-content .price-old {
  text-decoration: line-through;
}

.bangxephang .topvote-preview .preview-content .discount {
  margin-left: 10px;
  margin-bottom: -4px;
  font-size: 1.0em;
  color: #F39801;
  background-color: rgba(247, 148, 30, 0.2);
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
}

.bangxephang .topvote-preview img {
  width: 100%;
}

.col-md-4 {
  width: 33.333333333333%;
}

.col-md-8 {
  width: 66.666666666666%;
}
/*# sourceMappingURL=style.css.map */