body {
    background-color: #f0f0f0;
    color: #333333;
}

.container {
    width: 1230px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: white;
}

// bang xep hang header
.bangxephang {
    .bangxephang-header-large {
        background-color: #191D28;
        padding: 16px;
        .title-vote {
            color: white;
            font-weight: 550;
            font-size: 1.2em;
        }
    }
    .bangxephang-header {
        display: flex;
        align-items: center;
        ul {
            list-style: none;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-left: 1.5em;
            li {
                float: left;
                margin: 10px 2px;
                padding: 8px 15px;
                font-size: 14px;
                font-family: sans-serif;
                text-transform: capitalize;
                color: #545759;
                cursor: pointer;
            }
            li.active {
                color: #F7931E;
                font-weight: bold;
                border: 1px solid #F7931E !important;
                border-radius: 5px;
            }
        }
    }
    .bangxephang-content {
        /* xem them */
        .xem-them {
            clear: both;
            text-align: center;
            a {
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                display: inline-block;
                width: 220px;
                padding: 10px;
                background-image: linear-gradient(to right, #ff9800, #F7695D);
                text-decoration: none;
                border-radius: 25px;
                text-align: center;
            }
        }
        .topvote-content {
            width: 45%;
            float: left;
            border-right: 1px #d7d7d7 solid;
            .topvote-item {
                display: flex;
                align-items: center;
                &:hover {
                    border-right: 2px solid #F7941E;
                }
                .index {
                    width: 10%;
                    text-align: center;
                    font-weight: 800;
                    .index-number {
                        font-size: 0.8em;
                    }
                    .green {
                        color: green;
                    }
                }
                .topvote-item-content {
                    width: 90%;
                    display: flex;
                    img {
                        width: 20%;
                    }
                    .content-right {
                        line-height: 1.5;
                        padding-left: 16px;
                        padding-right: 16px;
                        font-size: 0.9em;
                        .name {}
                        .author {
                            color: gray;
                        }
                        .vote-score {
                            color: #2F80ED;
                        }
                    }
                }
            }
        }
    }
    .topvote-preview {
        width: 55%;
        display: flex;
        line-height: 1.5em;
        .preview-content {
            padding-left: 30px;
            padding-right: 30px;
            .name {
                font-size: 1.1em;
                font-weight: 550;
            }
            .price-special {
                margin-top: 16px;
                font-weight: bold;
            }
            .price-old {
                text-decoration: line-through;
            }
            .discount {
                margin-left: 10px;
                margin-bottom: -4px;
                font-size: 1.0em;
                color: #F39801;
                background-color: rgba(247, 148, 30, 0.2);
                font-weight: bold;
                padding: 4px 8px;
                border-radius: 6px;
            }
        }
        img {
            width: 100%;
        }
    }
}

.col-md-4 {
    width: 33.333333333333%;
}

.col-md-8 {
    width: 66.666666666666%;
}

// bang xep hang content