body{
  background-color: #f0f0f0;
  color: #333333;
}
.container{
  width: 1230px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: white;
  
}
.menu-icon{
  padding: 15px 4px;
  overflow: hidden;/*để phủ float left*/
  margin-top: 15px;
}
.menu-icon .col-md-1{
  width: 10%;
  /* canh lề phần tử bên trong nó */
  text-align: center;

  float: left;
}
.menu-icon .col-md-1 img{
  width: 40%;
  
}

.menu-icon .col-md-1 .menu-item-name{
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 5px;
}

