@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
/**
 * Basic styles for links
 */
body {
  background-color: #f0f0f0;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.padding-top {
  padding-top: 15px;
}

.padding-bottom {
  padding-bottom: 15px;
}

/**
 * Basic typography style for copy text
 */
/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  width: 100%;
  /* 1 */
  font-family: "Poppins", sans-serif;
  background-color: white;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

nav {
  width: 25%;
}

nav .nav-header {
  background-color: #F7941E;
  padding: 13px 50px;
}

nav .nav-header h1 {
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 0px;
}

nav .nav-content {
  /* để định vị dropdown-menu absolute */
  position: relative;
}

nav .nav-content > ul {
  margin: 0px;
  padding: 0px;
}

nav .nav-content > ul > li {
  list-style: none;
  display: block;
  padding: 15px 21px;
}

nav .nav-content > ul > li:hover {
  background-color: #fcdab0;
}

nav .nav-content > ul > li:hover .dropdown-menu {
  display: block;
}

nav .nav-content a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  position: relative;
  /* tràn cả dòng */
  display: block;
}

nav .nav-content a .caret {
  border: 0;
  position: absolute;
  right: 0px;
}

nav .nav-content a .caret::after {
  content: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/right_menu.png);
  position: absolute;
  right: 0;
  font-weight: 400;
}

nav .nav-content .dropdown-menu {
  width: 960px;
  position: absolute;
  top: 0px;
  right: -960px;
  padding: 0 10px;
  -webkit-box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
  height: 415px;
  display: none;
}

nav .nav-content .dropdown-menu .row {
  overflow: hidden;
}

.col-sm-3 {
  width: 25%;
  float: left;
}

.col-sm-4 {
  width: 33.333333333333333%;
  float: left;
}

nav .nav-content .dropdown-menu .row ul {
  padding: 0px;
  list-style: none;
}

nav .nav-content .dropdown-menu .row ul li {
  padding: 4px 0;
}

nav .nav-content .dropdown-menu .row h3 {
  color: #333333;
  font-size: 13px;
  text-transform: uppercase;
}

nav .nav-content .dropdown-menu .row ul li a {
  color: #444444;
  font-size: 12px;
  text-transform: capitalize;
}

nav .nav-content .dropdown-menu .row ul li a:hover {
  color: #ff6600;
}

nav .nav-content .dropdown-menu .row ul li a.xem-them {
  color: #ff6600;
  font-style: italic;
}

.flashsale .flashsale-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FCDAB0;
}

.flashsale .flashsale-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 50px;
}

.flashsale .flashsale-header a img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.flashsale .flashsale-header a .flashsale-header-title {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 550;
  color: #333333;
}

.flashsale .flashsale-header .split {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-left: 2px solid #646464;
  height: 20px;
}

.flashsale .flashsale-header .countdown-label {
  text-transform: capitalize;
}

/* end .flashsale-header */
/* ========================================================= */
.flashsale .flashsale-content ul.bxslider {
  list-style: none;
}

/* .flashsale .flashsale-content .bxslider li {
    text-align: center;
    width: 20%;
    float: left;
    background-color: white;
} */
.flashsale .flashsale-content .bxslider li .label-sale {
  background-color: #F7941E;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flashsale .flashsale-content .bxslider li .flashsale-content-inner {
  min-height: 300px;
}

.flashsale .flashsale-content .bxslider li .flashsale-content-inner .image-container {
  position: relative;
}

.flashsale .flashsale-content .bxslider li .flashsale-content-inner .image-container .chay-hang {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flashsale .flashsale-content .bxslider li .label-sale .label-discount {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 600;
}

.flashsale .flashsale-content .bxslider li img {
  width: 70%;
  margin: auto;
}

.flashsale .flashsale-content .product-content {
  text-align: left;
}

.flashsale .flashsale-content .product-name {
  font-size: 18px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.flashsale .flashsale-content .product-name a {
  text-decoration: none;
  color: #333333;
  font-size: 0.78em;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  display: block;
  min-height: 3.0em;
  max-height: 3.0em;
  line-height: 1.8em;
}

.flashsale .flashsale-content .flashsale-price {
  font-size: 13px;
}

.flashsale .flashsale-content .flashsale-price h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.flashsale .flashsale-content .flashsale-price .flashsale-price-special {
  font-size: 1.35em;
  color: #f7941e;
  font-weight: 600;
}

.flashsale .flashsale-content .flashsale-price .flashsale-price-old {
  color: #888888;
  text-decoration: line-through;
  font-size: 1.1em;
  font-weight: 400;
}

.flashsale .flashsale-content .product-content .progress {
  width: 100%;
  height: 22px;
  background-color: rgba(210, 33, 33, 0.4);
  border-radius: 20px;
  margin-top: 8px;
  position: relative;
  text-align: center;
}

.flashsale .flashsale-content .product-content .progress .progress-bar {
  width: 40%;
  height: 100%;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D22121), to(#D22121));
  background-image: linear-gradient(#D22121 0%, #D22121 100%);
}

.flashsale .flashsale-content .product-content .progress .progress-value {
  position: absolute;
  color: #ffffff;
  font-weight: normal;
  font-size: 0.8em;
  top: 4px;
  left: 0px;
  right: 0px;
}

.flashsale .flashsale-content .xem-them {
  text-align: center;
}

.flashsale .flashsale-content .xem-them a {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 220px;
  padding: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#F7695D));
  background-image: linear-gradient(to right, #ff9800, #F7695D);
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
}

.sachcu .sachcu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sachcu .sachcu-header ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 1.5em;
}

.sachcu .sachcu-header ul li {
  float: left;
  margin: 10px 5px;
  padding: 8px 15px;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #333333;
  cursor: pointer;
}

.sachcu .sachcu-header li.active {
  color: #F7931E;
  font-weight: bold;
  border: 1px solid #F7931E !important;
  border-radius: 5px;
}

/* end .sachcu-header */
/* ========================================================= */
.sachcu .sachcu-content ul.bxslider {
  list-style: none;
}

.sachcu .sachcu-content .bxslider li .label-sale {
  background-color: #F7941E;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sachcu .sachcu-content .bxslider li .sachcu-content-inner {
  min-height: 300px;
}

.sachcu .sachcu-content .bxslider li .sachcu-content-inner .image-container {
  position: relative;
}

.sachcu .sachcu-content .bxslider li .sachcu-content-inner .image-container .chay-hang {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sachcu .sachcu-content .bxslider li .label-sale .label-discount {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 600;
}

.sachcu .sachcu-content .bxslider li img {
  width: 70%;
  margin: auto;
}

.sachcu .sachcu-content .product-content {
  text-align: left;
}

.sachcu .sachcu-content .product-name {
  font-size: 18px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.sachcu .sachcu-content .product-name a {
  text-decoration: none;
  color: #333333;
  font-size: 0.78em;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  display: block;
  min-height: 3.0em;
  max-height: 3.0em;
  line-height: 1.8em;
}

/* price discount */
.sachcu .sachcu-content .sachcu-price {
  font-size: 13px;
}

.sachcu .sachcu-content .sachcu-price h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sachcu .sachcu-content .sachcu-price .sachcu-price-special {
  font-size: 1.35em;
  color: #f7941e;
  font-weight: 600;
}

.sachcu .sachcu-content .sachcu-price .sachcu-price-old {
  color: #888888;
  text-decoration: line-through;
  font-size: 1.1em;
  font-weight: 400;
}

/* rating */
.sachcu .sachcu-content .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sachcu .sachcu-content .rating-box {
  background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_star_gray.svg) repeat-x;
  margin: 0px;
  position: relative;
  width: 84px;
  height: 16px;
}

.sachcu .sachcu-content .rating-box .rating {
  background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_star_yellow.svg) repeat-x;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.sachcu .sachcu-content .amount {
  color: #F39801;
  font-size: 0.8em;
  font-weight: 500;
  padding-top: 4px;
}

/* xem them */
.sachcu .sachcu-content .xem-them {
  text-align: center;
}

.sachcu .sachcu-content .xem-them a {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 220px;
  padding: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#F7695D));
  background-image: linear-gradient(to right, #ff9800, #F7695D);
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
}

body {
  background-color: #f0f0f0;
  color: #333333;
}

.container {
  width: 1230px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.bangxephang .bangxephang-header-large {
  background-color: #191D28;
  padding: 16px;
}

.bangxephang .bangxephang-header-large .title-vote {
  color: white;
  font-weight: 550;
  font-size: 1.2em;
}

.bangxephang .bangxephang-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bangxephang .bangxephang-header ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 1.5em;
}

.bangxephang .bangxephang-header ul li {
  float: left;
  margin: 10px 2px;
  padding: 8px 12px;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #545759;
  cursor: pointer;
}

.bangxephang .bangxephang-header ul li.active {
  color: #F7931E;
  font-weight: bold;
  border: 1px solid #F7931E !important;
  border-radius: 5px;
}

.bangxephang .bangxephang-content {
  /* xem them */
}

.bangxephang .bangxephang-content .xem-them {
  clear: both;
  text-align: center;
}

.bangxephang .bangxephang-content .xem-them a {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 220px;
  padding: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#F7695D));
  background-image: linear-gradient(to right, #ff9800, #F7695D);
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
}

.bangxephang .bangxephang-content .topvote-content {
  width: 45%;
  float: left;
  border-right: 1px #d7d7d7 solid;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item:hover {
  border-right: 2px solid #F7941E;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .index {
  width: 10%;
  text-align: center;
  font-weight: 800;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .index .index-number {
  font-size: 0.8em;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .index .green {
  color: green;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content img {
  width: 20%;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content .content-right {
  line-height: 1.5;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 0.9em;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content .content-right .author {
  color: gray;
}

.bangxephang .bangxephang-content .topvote-content .topvote-item .topvote-item-content .content-right .vote-score {
  color: #2F80ED;
}

.bangxephang .topvote-preview {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5em;
}

.bangxephang .topvote-preview .preview-content {
  padding-left: 30px;
  padding-right: 30px;
}

.bangxephang .topvote-preview .preview-content .name {
  font-size: 1.1em;
  font-weight: 550;
}

.bangxephang .topvote-preview .preview-content .price-special {
  margin-top: 16px;
  font-weight: bold;
}

.bangxephang .topvote-preview .preview-content .price-old {
  text-decoration: line-through;
}

.bangxephang .topvote-preview .preview-content .discount {
  margin-left: 10px;
  margin-bottom: -4px;
  font-size: 1.0em;
  color: #F39801;
  background-color: rgba(247, 148, 30, 0.2);
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
}

.bangxephang .topvote-preview img {
  width: 100%;
}

.col-md-4 {
  width: 33.333333333333%;
}

.col-md-8 {
  width: 66.666666666666%;
}

.menu-icon {
  padding: 15px 4px;
  overflow: hidden;
}

.menu-icon .col-md-1 {
  width: 10%;
  /* canh lề phần tử bên trong nó */
  text-align: center;
  float: left;
}

.menu-icon .col-md-1 img {
  width: 40%;
}

.menu-icon .col-md-1 .menu-item-name {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 5px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  max-width: 1280px;
  max-width: 80rem;
  margin: 0 auto;
}

.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  margin-left: 1.6%;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
  float: left;
}

.col_1 {
  width: 8.33333%;
}

.col_2 {
  width: 16.66667%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.33333%;
}

.col_5 {
  width: 41.66667%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.33333%;
}

.col_8 {
  width: 66.66667%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.33333%;
}

.col_11 {
  width: 91.66667%;
}

.col_12 {
  width: 100%;
}

.col:first-child,
.col_12 {
  margin-left: 0;
}
/*# sourceMappingURL=main.css.map */