// -----------------------------------------------------------------------------
// This file contains all styles related to the icon menu of the site/application.
// -----------------------------------------------------------------------------
.menu-icon {
    padding: 15px 4px;
    overflow: hidden;
    img {
        width: 40%;
    }
    &__name {
        font-size: 14px;
        text-transform: capitalize;
        padding: 10px 5px;
    }
}

// -----------------------------------------------------------------------------
// This file contains all styles related to the flash sale header of the site/application.
// -----------------------------------------------------------------------------
.flashsale {
    &__countdown {
        text-transform: capitalize;
    }
}

body {
    background-color: #f0f0f0;
    color: #333333;
}

.container {
    width: 1230px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: white;
}

//---------------------------------------------------
// bang xep hang
//---------------------------------------------------
.bangxephang {
    &__header {
        background-color: #191D28;
        padding: 16px;
        &__title {
            color: white;
            font-weight: 550;
            font-size: 1.2em;
        }
    }
    &__content {
        .topvote {
            &__content {
                width: 45%;
                float: left;
                border-right: 1px #d7d7d7 solid;
            }
            &__item {
                display: flex;
                align-items: center;
                &:hover {
                    border-right: 2px solid #F7941E;
                }
                .index {
                    width: 10%;
                    text-align: center;
                    font-weight: 800;
                    .index-number {
                        font-size: 0.8em;
                    }
                    .green {
                        color: green;
                    }
                }
                &__content {
                    width: 90%;
                    display: flex;
                    img {
                        width: 20%;
                    }
                    .content-right {
                        line-height: 1.5;
                        padding-left: 16px;
                        padding-right: 16px;
                        font-size: 0.9em;
                        .author {
                            color: gray;
                        }
                        .vote-score {
                            color: #2F80ED;
                        }
                    }
                }
            }
        }
    }
    .topvote-preview {
        width: 55%;
        display: flex;
        line-height: 1.5em;
        .preview-content {
            padding-left: 30px;
            padding-right: 30px;
            .name {
                font-size: 1.1em;
                font-weight: 550;
            }
            .price-special {
                margin-top: 16px;
                font-weight: bold;
            }
            .price-old {
                text-decoration: line-through;
            }
            .discount {
                margin-left: 10px;
                margin-bottom: -4px;
                font-size: 1.0em;
                color: #F39801;
                background-color: rgba(247, 148, 30, 0.2);
                font-weight: bold;
                padding: 4px 8px;
                border-radius: 6px;
            }
        }
        img {
            width: 100%;
        }
    }
}