// -----------------------------------------------------------------------------
// This file contains all styles related to the icon menu of the site/application.
// -----------------------------------------------------------------------------
.menu-icon {
    padding: 15px 4px;
    overflow: hidden;
}

.menu-icon .col-md-1 {
    width: 10%;
    /* canh lề phần tử bên trong nó */
    text-align: center;
    float: left;
}

.menu-icon .col-md-1 img {
    width: 40%;
}

.menu-icon .col-md-1 .menu-item-name {
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px 5px;
}