// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation of the site/application.
// -----------------------------------------------------------------------------
nav {
    width: 25%;
}

nav .nav-header {
    background-color: #F7941E;
    padding: 13px 50px;
}

nav .nav-header h1 {
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0px;
}

nav .nav-content {
    /* để định vị dropdown-menu absolute */
    position: relative;
}

nav .nav-content>ul {
    margin: 0px;
    padding: 0px;
}

nav .nav-content>ul>li {
    list-style: none;
    display: block;
    padding: 15px 21px;
}

nav .nav-content>ul>li:hover {
    background-color: #fcdab0;
}

nav .nav-content>ul>li:hover .dropdown-menu {
    display: block;
}

nav .nav-content a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
    position: relative;
    /* tràn cả dòng */
    display: block;
}

nav .nav-content a .caret {
    border: 0;
    position: absolute;
    right: 0px;
}

nav .nav-content a .caret::after {
    content: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/right_menu.png);
    position: absolute;
    right: 0;
    font-weight: 400;
}

nav .nav-content .dropdown-menu {
    width: 960px;
    position: absolute;
    top: 0px;
    right: -960px;
    padding: 0 10px;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
    height: 415px;
    display: none;
}

nav .nav-content .dropdown-menu .row {
    overflow: hidden;
}

.col-sm-3 {
    width: 25%;
    float: left;
}

.col-sm-4 {
    width: 33.333333333333333%;
    float: left;
}

nav .nav-content .dropdown-menu .row ul {
    padding: 0px;
    list-style: none;
}

nav .nav-content .dropdown-menu .row ul li {
    padding: 4px 0;
}

nav .nav-content .dropdown-menu .row h3 {
    color: #333333;
    font-size: 13px;
    text-transform: uppercase;
}

nav .nav-content .dropdown-menu .row ul li a {
    color: #444444;
    font-size: 12px;
    text-transform: capitalize;
}

nav .nav-content .dropdown-menu .row ul li a:hover {
    color: #ff6600;
}

nav .nav-content .dropdown-menu .row ul li a.xem-them {
    color: #ff6600;
    font-style: italic;
}