.sachcu .sachcu-header {
    display: flex;
    align-items: center;
}

.sachcu .sachcu-header ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1.5em;
}

.sachcu .sachcu-header ul li {
    float: left;
    margin: 10px 5px;
    padding: 8px 15px;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #333333;
    cursor: pointer;
}

.sachcu .sachcu-header li.active {
    color: #F7931E;
    font-weight: bold;
    border: 1px solid #F7931E !important;
    border-radius: 5px;
}


/* end .sachcu-header */


/* ========================================================= */

.sachcu .sachcu-content ul.bxslider {
    list-style: none;
}

.sachcu .sachcu-content .bxslider li .label-sale {
    background-color: #F7941E;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sachcu .sachcu-content .bxslider li .sachcu-content-inner {
    min-height: 300px;
}

.sachcu .sachcu-content .bxslider li .sachcu-content-inner .image-container {
    position: relative;
}

.sachcu .sachcu-content .bxslider li .sachcu-content-inner .image-container .chay-hang {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sachcu .sachcu-content .bxslider li .label-sale .label-discount {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
}

.sachcu .sachcu-content .bxslider li img {
    width: 70%;
    margin: auto;
}

.sachcu .sachcu-content .product-content {
    text-align: left;
}

.sachcu .sachcu-content .product-name {
    font-size: 18px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.sachcu .sachcu-content .product-name a {
    text-decoration: none;
    color: #333333;
    font-size: 0.78em;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    display: block;
    min-height: 3.0em;
    max-height: 3.0em;
    line-height: 1.8em;
}


/* price discount */

.sachcu .sachcu-content .sachcu-price {
    font-size: 13px;
}

.sachcu .sachcu-content .sachcu-price h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sachcu .sachcu-content .sachcu-price .sachcu-price-special {
    font-size: 1.35em;
    color: #f7941e;
    font-weight: 600;
}

.sachcu .sachcu-content .sachcu-price .sachcu-price-old {
    color: #888888;
    text-decoration: line-through;
    font-size: 1.1em;
    font-weight: 400;
}


/* rating */

.sachcu .sachcu-content .rating {
    display: flex;
    align-items: center;
}

.sachcu .sachcu-content .rating-box {
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_star_gray.svg) repeat-x;
    margin: 0px;
    position: relative;
    width: 84px;
    height: 16px;
}

.sachcu .sachcu-content .rating-box .rating {
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_star_yellow.svg) repeat-x;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.sachcu .sachcu-content .amount {
    color: #F39801;
    font-size: 0.8em;
    font-weight: 500;
    padding-top: 4px;
}


/* xem them */

.sachcu .sachcu-content .xem-them {
    text-align: center;
}

.sachcu .sachcu-content .xem-them a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 220px;
    padding: 10px;
    background-image: linear-gradient(to right, #ff9800, #F7695D);
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
}