// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
    &__head{
        padding: 14px 25px;
        background: #9fa7ab;
    }
    &__envelope{
        margin-right: 30px;
        margin-left: 10px;
        &__label{
            text-transform: uppercase;
            font-weight: normal;
        font-size: 18px;
        margin: 14px 0 3px 0;
        color: #fff;
        margin-top: 7px;
        }
    }
    &__form{
        padding: 2px;
        border-radius: 4px;
        background-color: #fff;
        &__input-text{
            height: 40px;
            padding-left: 15px;
            width: 500px;
            border: none;
            font-size: 12px;
        }
        &__button{
            margin-left: 15px;
            font-size: 15px;
            background-color: #f7941e;
            color: white;
            border-radius: 3px;
            font-weight: 600;
            display: inline-block;
            padding: 13px 30px;
            border:none;
            cursor: pointer;
        }
    }
    &__address{
        font-size: 13px;
        line-height: 1.5;
    }
    &__link{
        
        &__header{
            text-transform: uppercase;
            font-size: 16px;
            color: black;
            font-weight: bold;
            padding-left: 10px;
            
        }
        a {
            line-height: 35px;
            padding-left: 10px;
            color: black;
            font-size: 13px;
        }
    }
    &__chungnhan-text{
        color: #adadad;
        font-size: 13px;
    }
    
}