*,
*:after,
*:before {
    @include box-sizing(border-box);
}

.row {
    width: $maxWidth;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through $grid-columns {
    .col_#{$i} {
        // @extend %col;
        width: ($i / $grid-columns) * 100%;
    }
}

.col:first-child,
.col_12 {
    margin-left: 0;
}

.width_10 {
    width: 10%;
}

.width_20 {
    width: 20%;
}