// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    &__logo {
        width: 209px;
        img {
            width: 100%;
        }
    }
    &__form {
        width: calc(100% - 600px);
        position: relative;
        margin: 0 0 0 30px;
        &__input-text {
            font-size: 1.1em;
            border: 2px solid #F7941E;
            height: 43px;
            width: 100%;
        }
        &__button-search {
            position: absolute;
            top: 15px;
            right: 0;
            width: 50px;
            height: 50px;
            color: #F7941D;
            text-align: center;
        }
    }
    &__icon {
        height: 30px;
        width: 70px;
        &--noti {
            background: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_notif.png) no-repeat center center;
        }
        &--cart {
            background: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_shopping_cart_orange.svg) no-repeat center center;
        }
        &--login {
            background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_log-in.svg) no-repeat center center;
        }
        &--lang {
            background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg) no-repeat center center;
        }
    }
    &__text {
        position: relative;
        line-height: 18px;
        text-transform: uppercase;
        color: #F7941E;
        font-size: 12px;
        &:hover .header__noti__lock {
            display: block;
        }
    }
    &__noti {
        &__lock {
            display: none;
            position: absolute;
            width: 300px;
            background-color: #fff;
            border: 1px solid #e4e4e4;
            right: 0;
            top: 0;
            z-index: 2;
            box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            padding: 8px 0;
            border-radius: 8px;
            text-align: center;
            &__text {
                color: #333333;
                text-transform: none;
            }
            &__button {
                margin: 4px 0;
                background: linear-gradient(90deg, rgba(255, 152, 0, 1) 0%, rgba(247, 105, 93, 1) 100%);
                color: white;
                text-transform: none;
                width: 245px;
                display: inline-block;
                padding: 8px 0;
                border-radius: 20px;
                font-weight: 700;
                &--no-bg {
                    color: #F39801;
                    border: 1px solid #F39801;
                    background: none;
                }
            }
        }
    }
    &__cart {
        position: relative;
        &:hover &__list {
            display: block;
        }
        &__number {
            width: 25px;
            background: #2ED62E;
            border-radius: 10px;
            position: absolute;
            top: -30px;
            right: 7px;
            text-align: center;
            span {
                font-size: 12px;
                color: #fff;
            }
        }
        &__list {
            background-color: white;
            width: 400px;
            position: absolute;
            padding: 15px;
            border: 1px solid #e4e4e4;
            box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            right: 0;
            display: none;
            border-radius: 8px;
            z-index: 2;
        }
        &__item {
            overflow: hidden;
            a {
                color: #646464;
            }
            &__logo {
                float: left;
            }
            &__product-detail {
                margin-left: 60px;
                position: relative;
            }
            &__product-name {
                display: block;
                width: 90%;
                margin-bottom: 10px;
            }
        }
        &__total {
            padding: 10px 10px;
            text-transform: uppercase;
        }
    }
}

.btn-edit {
    position: absolute;
    right: 24px;
    top: 6px;
    display: block;
    width: 11px;
    height: 11px;
    font-size: 0;
    line-height: 0;
    background: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/btn_edit.gif) 0 0 no-repeat;
    text-indent: -999em;
    overflow: hidden;
}