body {
    background-color: #f0f0f0;
    color: #333333;
}

.container {
    width: 1230px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: white;
}

.flashsale .flashsale-header {
    display: flex;
    align-items: center;
    background-color: #FCDAB0;
}

.flashsale .flashsale-header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 50px;
}

.flashsale .flashsale-header a img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.flashsale .flashsale-header a .flashsale-header-title {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 550;
    color: #333333;
}

.flashsale .flashsale-header .split {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-left: 2px solid #646464;
    height: 20px;
}

.flashsale .flashsale-header .countdown-label {
    text-transform: capitalize;
}


/* end .flashsale-header */


/* ========================================================= */

.flashsale .flashsale-content ul.bxslider {
    list-style: none;
}


/* .flashsale .flashsale-content .bxslider li {
    text-align: center;
    width: 20%;
    float: left;
    background-color: white;
} */

.flashsale .flashsale-content .bxslider li .label-sale {
    background-color: #F7941E;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashsale .flashsale-content .bxslider li .flashsale-content-inner {
    min-height: 300px;
}

.flashsale .flashsale-content .bxslider li .flashsale-content-inner .image-container {
    position: relative;
}

.flashsale .flashsale-content .bxslider li .flashsale-content-inner .image-container .chay-hang {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashsale .flashsale-content .bxslider li .label-sale .label-discount {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
}

.flashsale .flashsale-content .bxslider li img {
    width: 70%;
    margin: auto;
}

.flashsale .flashsale-content .product-content {
    text-align: left;
}

.flashsale .flashsale-content .product-name {
    font-size: 18px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.flashsale .flashsale-content .product-name a {
    text-decoration: none;
    color: #333333;
    font-size: 0.78em;
    font-family: sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    display: block;
    min-height: 3.0em;
    max-height: 3.0em;
    line-height: 1.8em;
}

.flashsale .flashsale-content .flashsale-price {
    font-size: 13px;
}

.flashsale .flashsale-content .flashsale-price h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.flashsale .flashsale-content .flashsale-price .flashsale-price-special {
    font-size: 1.35em;
    color: #f7941e;
    font-weight: 600;
}

.flashsale .flashsale-content .flashsale-price .flashsale-price-old {
    color: #888888;
    text-decoration: line-through;
    font-size: 1.1em;
    font-weight: 400;
}

.flashsale .flashsale-content .product-content .progress {
    width: 100%;
    height: 22px;
    background-color: rgba(210, 33, 33, 0.4);
    border-radius: 20px;
    margin-top: 8px;
    position: relative;
    text-align: center;
}

.flashsale .flashsale-content .product-content .progress .progress-bar {
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient( #D22121 0%, #D22121 100%);
}

.flashsale .flashsale-content .product-content .progress .progress-value {
    position: absolute;
    color: #ffffff;
    font-weight: normal;
    font-size: 0.8em;
    top: 4px;
    left: 0px;
    right: 0px;
}

.flashsale .flashsale-content .xem-them {
    text-align: center;
}

.flashsale .flashsale-content .xem-them a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 220px;
    padding: 10px;
    background-image: linear-gradient(to right, #ff9800, #F7695D);
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
}